@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


:root{
    --White: hsl(0, 0%, 100%);
    --gray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
}

.content{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color:var(--gray) ;
}


/* card operations */

img.card-img{
    width: 100%;
    border-radius: 12px;
    height: 250px;
    
}
div.card{
    border-radius: 20px;
    padding: 13px;
    border: 1px solid #bacdd8;
    width: 18rem;
    box-shadow: 1px 2px 3px 4px rgba(204, 202, 202, 0.2);
    margin-bottom: 30px;

}

#top{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--Darkblue);
}

#bottom{
    font-weight: 400;
    text-align: center;
    color: var(--Grayishblue);
}
